body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-left {
  min-width: 235px;
  flex-shrink: 1;
}

.header-left h3 {
  font-size: 24px;
  color: #f9faf8;
  margin: 0px;
}

.header-right {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  column-gap: 24px;
  flex-wrap: wrap;
}

.header-right h3 {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 12px;
  margin-bottom: 0px;
}

.intro {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 24px;
  padding-bottom: 48px;
}

.intro-text {
  font-weight: 900;
  flex: 1;
  max-width: 550px;
  min-width: 300px;
}

.intro-text h1 {
  font-size: 48px;
  color: #f9faf8;
  margin: 0px;
}

.intro-text h4 {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 16px;
  margin-bottom: 16px;
}

.intro-text button {
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  width: 80px;
  height: 35px;
  margin-bottom: 16px;
}

.img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: auto;
  min-width: 300px;
}

.intro img {
  height: auto;
  width: 70%;
  object-fit: cover;
  margin: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 24px;
  padding-bottom: 48px;
}

.main h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.buckets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
}

.bucket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
}

.bucket div {
  border: 3px solid #3882f6;
  border-radius: 8px;
  background-color: white;
}

.bucket h4 {
  text-align: center;
  color: #1f2937;
  font-size: 18px;
}